extends ../layoutBelanja  
  
append content
  .well
    h2 #{kategori.nama} 
    p(style='width:370px') #{kategori.deskripsi}

  .col-sm-9                                
    .col-sm-3
      select(name='pilihan')
        option(value='barokah')  Pilih Lokasi
        option(value='barokah')  Kendari
        option(value='barokah')  Cianjur
    .col-sm-3
      select(name='pilihan')
        option(value='barokah')  Pilih Lokasi
        option(value='barokah')  Semua Etalase
        option(value='barokah')  Gudang
        option(value='barokah')  Pengawasan
    .col-sm-3
      input(placeholder='Min')
    .col-sm-2
      input(placeholder='Maks')
    hr
    br
    if(listProduk.length == 0)
     .alert.alert-danger  
      center 
       h4 
        b Tidak Ada Produk                                     
    script.    
            function numberFormat(_number, _sep) {
                _number = typeof _number != "undefined" && _number > 0 ? _number : "";
                _number = _number.replace(new RegExp("^(\\d{" + (_number.length%3? _number.length%3:0) + "})(\\d{3})", "g"), "$1 $2").replace(/(\d{3})+?/gi, "$1 ").trim();
                if(typeof _sep != "undefined" && _sep != " ") {
                    _number = _number.replace(/\s/g, _sep);
                }
                return _number;
            }      

    each value,n in listProduk      
       .col-md-3
        .product-image-wrapper
          .single-products
           .productinfo.text-center
              img(src='/images/produk/#{value.gambar}', alt='')
              h2 Rp <span class='uang'> </span>            
              .row-fluid
                span.col-sm-8
                  b
                    a(href='/produk/detail/#{kategori.url}/#{value._id}') #{value.nama}
                span.text-right.ellipsis
                  i.fa.fa-dribbble  
                  | jakarta
              hr
              i.fa.fa-star
              a(href='#') Barokah Clothing  
          script.
              document.getElementsByClassName("uang")[#{n}].innerHTML = numberFormat("#{value.harga}",".");
              
  .col-sm-3
        h3 promote 
